<footer class="site-footer">
  <div class="footer-inner">

    <%# Brand %>
    <div class="footer-brand">
      <h3>Airbnb</h3>
      <p>Discover and list unique homes across India. Whether you're a host or a guest, Airbnb connects people and places.</p>
      <div class="footer-social">
        <a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
        <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
        <a href="#" title="YouTube"><i class="fab fa-youtube"></i></a>
      </div>
    </div>

    <%# Explore %>
    <div class="footer-col">
      <h4>Explore</h4>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/homes">Browse Homes</a></li>
        <li><a href="/bookings">Bookings</a></li>
      </ul>
    </div>

    <%# Hosting %>
    <div class="footer-col">
      <h4>Hosting</h4>
      <ul>
        <li><a href="/signup">Become a Host</a></li>
        <li><a href="/host/add-home">List Your Home</a></li>
        <li><a href="/host/host-home-list">My Listings</a></li>
      </ul>
    </div>

    <%# Support %>
    <div class="footer-col">
      <h4>Support</h4>
      <ul>
        <li><a href="#">Help Center</a></li>
        <li><a href="#">Safety Information</a></li>
        <li><a href="#">Cancellation Options</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>

  </div>

  <div class="footer-bottom">
    <span>&copy; <%= new Date().getFullYear() %> Airbnb Clone. All rights reserved.</span>
    <div>
      <a href="#">Privacy</a>
      <a href="#">Terms</a>
      <a href="#">Sitemap</a>
    </div>
  </div>

</footer>
